// colors
$first-color: #17224D;
$second-color: #FFC647;
$second-color-light: #FFDF97;
$third-color: #AD00FF;
$third-color-light: #A578BA;
$fourth-color: #17C6E9;
$fifth-color: #EEF4F1;

// fonts

$main-font: 'Josefin Slab', serif;
$second-font:  'Righteous', cursive;

// shadows

$shadow-blue: 1px 1px 12px $fourth-color;

$shadow-purple-light: 1px 1px 12px $third-color-light;

$shadow-purple: 1px 1px 12px $third-color;

$shadow-yellow: 1px 1px 12px $second-color;

// styles base


*,*::before,*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	width: 100%;
	font-family:  'Josefin Slab', serif;
	background-color: $first-color;
}