.footer{
	width: 100%;
	height: 80px;
	display: grid;
	place-items: center;
	justify-items: center;
	padding: 10px 0px 0px 0px;
	background: $fifth-color;
	margin-top: 40px;
	&__info{
		display: flex;
		align-items: center;
		color: $first-color;
		font-size: 1.5rem;
		font-weight: bold;
		p{
			font-family: $second-font;
			display: inline-block;
			margin-left: 10px;
		}
	}
	&__redes-sociales{
		a{
			text-decoration: none;
		}
		.ri-github-fill{
			font-size: 2.6rem;
			margin-right: 10px;
			color: $third-color;
		}
		.ri-instagram-fill{
			@extend .ri-github-fill;
		}
	}
}