.home-ogo{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 40px;
	.link-logo-ogo{
		width: 14rem;
		height: auto;
		display: block;
		margin: auto;
	}
	.logo-ogo{
		width: 14rem;
		display: block;
		margin: 0px auto 20px auto;
		cursor: pointer;
		transform: scale(1);
		transition-duration: 1s;
		transition-timing-function: ease-out;
		transition-property: transform;
	}

	.logo-ogo:hover{
		transform: scale(1.1);
		transition-duration: 1s;
		transition-timing-function: ease-out;
		transition-property: transform;
	}
	&__description{
		width: 90%;
		max-width: 552px;
		margin: auto;
		font-size: 1.6rem;
		font-weight: bold;
		color: $fifth-color;
	}
	&__categories{
		font-style: italic;
	}
	&__categories:nth-child(1){
		color: $third-color-light;
	}
	&__categories:nth-child(2){
		color: $second-color;
	}
	&__categories:nth-child(3){
		color: $fourth-color;
	}
	.home-ogo__categories-number--1{
		color: $third-color-light;
	}
	.home-ogo__categories-number--2{
		color: $second-color;
	}
	.home-ogo__categories-number--3{
		color: $fourth-color
	}
	img{
		display: none;
		width: 30rem;
	}
}