
@media (min-width: 600px){
	html{
		font-size: 66%;
	}
	header{
		margin-bottom: 90px;
	}
	.home-ogo{
		flex-direction: row;
		margin-bottom: 60px;
		img{
			display: block;
		}
	}
}

@media (min-width: 900px){
	html{
		font-size: 72%;
	}
	.home-ogo{
		width: 90%;
		max-width: 1130px;
		margin: auto;
		margin-bottom: 60px;
		img {
			display: block;
			width: 400px;
		}
	}
	.container-dataner .container-data__table{
		width: 90%;
		margin: 20px auto 0 auto;
	}
	.data-expenses{
		overflow: visible;
	}
}

