*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: "Josefin Slab", serif;
  background-color: #17224D;
}

.home-ogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}
.home-ogo .link-logo-ogo {
  width: 14rem;
  height: auto;
  display: block;
  margin: auto;
}
.home-ogo .logo-ogo {
  width: 14rem;
  display: block;
  margin: 0px auto 20px auto;
  cursor: pointer;
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-property: transform;
}
.home-ogo .logo-ogo:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-property: transform;
}
.home-ogo__description {
  width: 90%;
  max-width: 552px;
  margin: auto;
  font-size: 1.6rem;
  font-weight: bold;
  color: #EEF4F1;
}
.home-ogo__categories {
  font-style: italic;
}
.home-ogo__categories:nth-child(1) {
  color: #A578BA;
}
.home-ogo__categories:nth-child(2) {
  color: #FFC647;
}
.home-ogo__categories:nth-child(3) {
  color: #17C6E9;
}
.home-ogo .home-ogo__categories-number--1 {
  color: #A578BA;
}
.home-ogo .home-ogo__categories-number--2 {
  color: #FFC647;
}
.home-ogo .home-ogo__categories-number--3 {
  color: #17C6E9;
}
.home-ogo img {
  display: none;
  width: 30rem;
}

.ogo-content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: minmax(320px, 500px);
  justify-content: center;
  grid-auto-rows: auto;
}

.container-data, .data-result {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 5rem 1fr;
}
.container-data__steps {
  width: 100%;
  position: relative;
}
.container-data__steps .step {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  margin: auto;
  border-radius: 50%;
  background: #17C6E9;
  box-shadow: 1px 1px 12px #17C6E9;
  position: relative;
  z-index: 2;
}
.container-data__steps .step span {
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Righteous", cursive;
  color: #FFC647;
  -webkit-text-stroke: 0.3px #17224D;
}
.container-data__steps::before {
  content: " ";
  width: 0.1rem;
  height: 100%;
  margin: auto;
  background: #EEF4F1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.container-data__table {
  padding: 0px 10px 60px 10px;
}
.container-data__table h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #EEF4F1;
}
.container-data .container-table, .data-result .container-table, .container-data .container-row-aggregate, .data-result .container-row-aggregate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-data .container-table__add, .data-result .container-table__add, .container-data .container-row-aggregate .button-delet-row, .data-result .container-row-aggregate .button-delet-row {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  border: none;
  background: #17C6E9;
  box-shadow: 1px 1px 12px #17C6E9;
  cursor: pointer;
}
.container-data .container-table__add .ri-play-list-add-line, .data-result .container-table__add .ri-play-list-add-line, .container-data .container-row-aggregate .button-delet-row .ri-play-list-add-line, .data-result .container-row-aggregate .button-delet-row .ri-play-list-add-line {
  font-size: 1.8rem;
  color: #EEF4F1;
}
.container-data .table, .data-result .table, .container-data .container-row-aggregate .row, .data-result .container-row-aggregate .row {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 40px;
}
.container-data .table__cell, .data-result .table__cell, .container-data .container-row-aggregate .row__cell, .data-result .container-row-aggregate .row__cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EEF4F1;
  background: #FFC647;
}
.container-data .table p, .data-result .table p, .container-data .container-row-aggregate .row p, .data-result .container-row-aggregate .row p {
  outline: none;
  font-size: 1.3rem;
  font-weight: 900;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}
.container-data .container-row-aggregate .row__cell, .data-result .container-row-aggregate .row__cell {
  background: transparent;
}
.container-data .container-row-aggregate .row .paragraph-edit, .data-result .container-row-aggregate .row .paragraph-edit {
  font-weight: bold;
  color: #EEF4F1;
}
.container-data .container-row-aggregate .row input, .data-result .container-row-aggregate .row input {
  width: 80%;
  height: 20px;
  padding: 0px 4px;
  display: block;
  border: none;
  outline: none;
  color: #EEF4F1;
  background: transparent;
}
.container-data .container-row-aggregate .row input::placeholder, .data-result .container-row-aggregate .row input::placeholder {
  color: #beb9b9;
}
.container-data .container-row-aggregate .button-delet-row .ri-delete-bin-5-fill, .data-result .container-row-aggregate .button-delet-row .ri-delete-bin-5-fill {
  font-size: 2rem;
  color: #EEF4F1;
}

.data-expenses {
  overflow: scroll;
}

.container-table-expenses {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 30px;
  padding: 0px 20px;
}
.container-table-expenses__categories {
  width: 60%;
  height: 50px;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-table-expenses .categories-expenses {
  display: flex;
  align-items: center;
  gap: 14px;
}
.container-table-expenses .categories-expenses__box {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  background: #A578BA;
  box-shadow: 1px 1px 12px #A578BA;
}
.container-table-expenses .categories-expenses__box--2 {
  background: #FFC647;
  box-shadow: 1px 1px 12px #FFC647;
}
.container-table-expenses .categories-expenses__box--3 {
  background: #17C6E9;
  box-shadow: 1px 1px 12px #17C6E9;
}
.container-table-expenses .categories-expenses p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #EEF4F1;
}

.container-rows-expenses {
  width: 600px;
}
.container-rows-expenses__header-1 {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 50px;
}
.container-rows-expenses__header-1 .cell-header-row-1 {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  border: 1px solid;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  color: #EEF4F1;
}

.container-rows-expenses__header-2, .row-expenses {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
}
.container-rows-expenses__header-2 .container-rows-header-2, .row-expenses .container-rows-header-2, .row-expenses .container-row-expenses {
  display: grid;
  grid-template-columns: 7fr 5fr 2fr 5fr 2fr;
}
.container-rows-expenses__header-2 .container-rows-header-2__cell, .row-expenses .container-rows-header-2__cell, .row-expenses .container-row-expenses__cell {
  width: 100%;
  height: 40px;
  display: grid;
  place-content: center;
  border: 1px solid #EEF4F1;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  color: #17224D;
  background: #FFC647;
}
.container-rows-expenses__header-2 .container-rows-header-2__cell--empty, .row-expenses .container-rows-header-2__cell--empty {
  background: transparent;
}
.container-rows-expenses__header-2 .boton-remove-fila-egreso, .container-rows-expenses__header-2 .row-expenses__button-delet, .row-expenses .boton-remove-fila-egreso, .row-expenses .row-expenses__button-delet, .container-rows-expenses__header-2 .add-button-rows-expenses, .row-expenses .add-button-rows-expenses {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  color: #17224D;
  border: none;
  background: #17C6E9;
  box-shadow: 1px 1px 12px #17C6E9;
  justify-self: center;
  cursor: pointer;
}
.container-rows-expenses__header-2 .ri-play-list-add-line, .row-expenses .ri-play-list-add-line {
  font-size: 1.8rem;
  color: #EEF4F1;
}
.row-expenses .container-row-expenses__cell {
  background: #FFDF97;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: lowercase;
}
.row-expenses .container-row-expenses .container-fila-egresos__celda--porcentaje {
  background: #FFC647;
}
.row-expenses .container-row-expenses .select-categoies-container {
  grid-template-columns: 60% 40%;
  grid-auto-rows: 100%;
  place-items: center;
}
.row-expenses .container-row-expenses .select-categoies-container__box {
  position: relative;
}
.row-expenses .container-row-expenses .options-categories {
  position: absolute;
  width: 80px;
  background: #a5b3ac;
  height: 100px;
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  top: 22px;
  left: -30px;
  z-index: 2;
}
.row-expenses .container-row-expenses .options-categories__value {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.row-expenses .container-row-expenses .ri-price-tag-3-fill {
  font-size: 2.2rem;
  color: #a5b3ac;
  -webkit-text-stroke: 1px #17224D;
  cursor: pointer;
}
.row-expenses .container-row-expenses .tag-basic {
  color: #a578ba;
}
.row-expenses .container-row-expenses .tag-luxe {
  color: #FFC647;
}
.row-expenses .container-row-expenses .tag-saving {
  color: #17C6E9;
}
.row-expenses .container-row-expenses__cell input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px 10px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #17224D;
  background: transparent;
}
.row-expenses .container-row-expenses__cell input::placeholder {
  color: #404a72;
}
.row-expenses__button-delet {
  font-size: 2rem;
}
.row-expenses__button-delet .ri-delete-bin-5-fill {
  font-size: 2rem;
  color: #EEF4F1;
}

.data-result__steps {
  width: 100%;
}
.data-result__steps .step {
  width: 3rem;
  height: 3rem;
  background: #17C6E9;
  border-radius: 50%;
  display: grid;
  place-content: center;
  border: 1px solid #17224D;
  box-shadow: 1px 1px 12px #17C6E9;
  margin: auto;
}
.data-result__steps .step span {
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "Righteous", cursive;
  color: #FFC647;
  -webkit-text-stroke: 0.3px #17224D;
}
.data-result__info {
  padding: 0px 10px;
}
.data-result__info p {
  width: 86%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #EEF4F1;
  text-align: justify;
}
.data-result .data-result__amount {
  font-weight: 600;
}
.data-result .data-result__amount span {
  font-weight: 900;
  color: #FFC647;
  text-shadow: 1px 1px 12px #FFC647;
}

.circles {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circles .circle-container {
  position: relative;
  width: 7rem;
  height: 7rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circles .circle-container__value {
  position: relative;
  font-family: "Righteous", cursive;
  font-size: 1.6rem;
  font-weight: 900;
  color: #000;
  margin: 0;
}
.circles .circle-container:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 84%;
  height: 84%;
  background: #A578BA;
  border-radius: 50%;
}
.circles .circle-container:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 84%;
  height: 84%;
  background: #FFC647;
  border-radius: 50%;
}
.circles .circle-container:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 84%;
  height: 84%;
  background: #17C6E9;
  border-radius: 50%;
}

.data-result-box {
  width: 90%;
  max-width: 400px;
  margin: auto;
  background: #AD00FF;
  border-radius: 12px;
  height: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 12px #AD00FF;
  justify-content: space-evenly;
  align-items: center;
}
.data-result-box p {
  width: 90%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.data-result-box span {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Righteous", cursive;
  color: #FFC647;
}

.footer {
  width: 100%;
  height: 80px;
  display: grid;
  place-items: center;
  justify-items: center;
  padding: 10px 0px 0px 0px;
  background: #EEF4F1;
  margin-top: 40px;
}
.footer__info {
  display: flex;
  align-items: center;
  color: #17224D;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__info p {
  font-family: "Righteous", cursive;
  display: inline-block;
  margin-left: 10px;
}
.footer__redes-sociales a {
  text-decoration: none;
}
.footer__redes-sociales .ri-github-fill, .footer__redes-sociales .ri-instagram-fill {
  font-size: 2.6rem;
  margin-right: 10px;
  color: #AD00FF;
}
#modal {
  width: 90%;
  margin: auto;
  height: 200px;
  background: #17224D;
  border: 1px solid #EEF4F1;
  border-radius: 6px;
}
#modal .modal-description {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  place-items: center;
}
#modal p {
  font-size: 1.6rem;
  color: #EEF4F1;
  font-weight: 900;
  text-align: center;
  width: 90%;
}
#modal button {
  width: 200px;
  height: 40px;
  background: #17C6E9;
  color: #17224D;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 12px #17C6E9;
  outline: none;
  transform: scale(1);
  transition-property: transform;
  transition-delay: 10ms;
  transition-duration: 2s;
}
#modal button:hover {
  transform: scale(1.1);
  transition-property: transform;
  transition-delay: 10ms;
  transition-duration: 2s;
}

#modal::backdrop {
  width: 100%;
  height: 100%;
  background: #000000b0;
}

@media (min-width: 600px) {
  html {
    font-size: 66%;
  }

  header {
    margin-bottom: 90px;
  }

  .home-ogo {
    flex-direction: row;
    margin-bottom: 60px;
  }
  .home-ogo img {
    display: block;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 72%;
  }

  .home-ogo {
    width: 90%;
    max-width: 1130px;
    margin: auto;
    margin-bottom: 60px;
  }
  .home-ogo img {
    display: block;
    width: 400px;
  }

  .container-dataner .container-data__table {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .data-expenses {
    overflow: visible;
  }
}

/*# sourceMappingURL=styles.css.map */
